# CrowdStrike API credentials
CROWDSTRIKE_CLIENT_ID=
CROWDSTRIKE_CLIENT_SECRET=

# CrowdStrike API base URL (optional, defaults to https://api.us-2.crowdstrike.com)
CROWDSTRIKE_BASE_URL=

# VMRay API key
VMRAY_API_KEY=

# VMRay REST API URL (optional, defaults to https://eu.cloud.vmray.com)
VMRAY_BASE_URL=
